.wrapper{
    height: 97%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-end;
}

.navButton{
    color: rgba(245, 245, 245, 0.596);
    padding: 0.5rem 1rem;
    transition-duration: 100ms;
    letter-spacing: 0.1rem;
}
.navButton:hover{
    cursor: pointer;
    font-weight: 400;
    color: rgba(245, 245, 245, 0.831);
}