.nav{
    background-color: mediumorchid;
    padding: 1rem;
    align-self: flex-end;
    height: 60vh;
    display: flex;
    flex-direction: column;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

li{
    padding: 10px;
}